<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Present Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="https://social.michaeldai.com">Socials 11</a>
                </li>
                <li>
                    <a href="https://present.michaeldai.com">Career Life Education</a>
                </li>
                <li>
                    <a href="#">狗屎</a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                ---
                layout: presentation
                ---
                
                        <div class="reveal">
                            <div class="slides">
                                <section>
                                {% assign sitePosts = site.posts | reverse | sort:date %}
                                {% assign prevYear = sitePosts[0].date | date: "%Y" %}
                
                                {% for post in sitePosts %}
                                    {% assign postYear = post.date | date: "%Y" %}
                
                                    {% if prevYear != postYear %}
                                        {% assign prevYear = postYear %}
                                        </section><section>
                                    {% endif %}
                
                                    <section>{{ post.content }}</section>
                                {% endfor %}
                            </div>
                        </div>
                
                
                <a href="#menu-toggle" class="btn btn-seconda ry" id="menu-toggle">点击开始</a>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
